@font-face{
  font-family: 'Avenir';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}

body{
  font-family: Avenir;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
}

header {
  background-color: #9b9b8c;
  height: 7%;
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
  box-shadow: 0 2px 1px rgba(0,0,0,.7)
}

#right{
  width: 50%;
  float: right;
}

#left{
  float: left;
  width: 49%;
}

#right img{
  height: 85vh;
  width: 100%;
  opacity: .19;
}

#album1{
  z-index: 3;
  background-color: blue;
  width: 27vh;
  height: 27vh;
  position: absolute;
  vertical-align: middle;
  top: 8%;
  right: 17%;
  margin-top: 5px;
  display: inline-block;
}

#album2{
  z-index: 3;
  background-color: blue;
  width: 27vh;
  height: 27vh;
  position: absolute;
  vertical-align: middle;
  top: 37%;
  right: 17%;
  margin-top: 5px;
  display: inline-block;
}

#album3{
  z-index: 3;
  background-color: blue;
  width: 27vh;
  height: 27vh;
  position: absolute;
  vertical-align: middle;
  bottom: 5%;
  right: 17%;
  margin-top: 5px;
  display: inline-block;
}

#text{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #4d0267;
  margin-top: 30%;
}

#trackBin{
  font-size: 4em;
}

#chooseTracks{
  background-color: #353526;
  border: none;
  font-size: 1.2em;
  color: #eeeeee;
  font-weight: lighter;
  padding: 7px 15px 7px 15px;
  width: 55%;
  border-radius: 5px;
}

footer {
  clear: both;
  background-color: #9b9b8c;
  height: 7%;
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  /*display: inline-block;*/
  box-shadow: 0 2px 1px rgba(0,0,0,.7);
  color: #eeeeee;
  padding: 10px;
  padding-left: 50px;
}
